# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Serverless directories
.serverless/

# DynamoDB Local files
.dynamodb/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

